.item {
  position: relative;

  overflow: hidden;

  border-radius: 18px;

  background: rgba(255, 255, 255, 0.06);

  cursor: pointer;

  transition:
    grid-row 0.25s ease,
    grid-column 0.25s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
/* if item is from all projects */
.marqueeItem {
  width: 320px;
  aspect-ratio: 16/9;
  flex-shrink: 0;
}
/* if item is form other categories  */
.gridItem {
  width: 100%;
  height: 100%;
  grid-column: span 1;
  grid-row: span 1;
}

.item:hover {
  transform: scale(1.02);

  box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.22),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);

  z-index: 2;
}

.expanded {
  grid-column: span 2;
  grid-row: span 2;

  z-index: 5;
}

.media {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

.expandBtn {
  position: absolute;

  top: 10px;
  right: 10px;

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  color: white;

  font-size: 22px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  opacity: 0;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  z-index: 10;
}

.visible {
  opacity: 1;
}

.expandBtn:hover {
  transform: scale(1.08);
}
