.layer {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: auto;
  /* min-height: 100vh; */
  object-fit: cover;
  object-position: center bottom;
  display: block;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate(-50%, -50%) scale(1);
  will-change: transform;
}
