/* 

.scrollArea {
  flex: 1;
  overflow-y: auto;
  padding: 24px 32px 40px;
  
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
  }
  .rows {
  display: flex;
  flex-direction: column;
  gap: 14px;
  } */

.scrollArea {
  flex: 1;
  overflow-y: auto;

  /* overflow: visible; */

  padding: 10px 32px;

  /* min-height: 0; */
}

.rows {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  scrollbar-width: thin;
  overflow-x: hidden;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
  overflow-y: scroll;
}
